# Output Files to be Ignored From Testing#
TestModel.txt
TestEditDict.txt
TestEditFile.txt
Output.txt
# Output Files to be Ignored from testing MCNP#
inpcrash
inp
outmc
outp
oved
HPGe_cesium137.txtc
HPGe_cesium137.txto
fort.32

HPGe_Generic_Model.i