# Output Files to be Ignored From Testing#
TestModel.txt
TestEditDict.txt
TestEditFile.txt
Output.txt
# Output Files to be Ignored from testing MCNP#
inpcrash
inp
outmc
outp
oved
HPGe_cesium137.txtc
HPGe_cesium137.txto
fort.32

C:\Users\Robert\Documents\School\NENG685\GeDetector_Project\MCNP_Output\Position*\HPGe_Output_Model_C*
C:\Users\Robert\Documents\School\NENG685\GeDetector_Project\MCNP_Output\Position*\HPGe_Output_Model_T*
C:\Users\Robert\Documents\School\NENG685\GeDetector_Project\MCNP_Output\Position*\HPGe_Output_Model_S*
C:\Users\Robert\Documents\School\NENG685\GeDetector_Project\MCNP_Output\Position*\HPGe_Output_Model_G*
C:\Users\Robert\Documents\School\NENG685\GeDetector_Project\MCNP_Output\Position*\Data_Pos1_C*
C:\Users\Robert\Documents\School\NENG685\GeDetector_Project\MCNP_Output\Position*\Data_Pos1_T*
C:\Users\Robert\Documents\School\NENG685\GeDetector_Project\MCNP_Output\Position*\Data_Pos1_S*
C:\Users\Robert\Documents\School\NENG685\GeDetector_Project\MCNP_Output\Position*\Data_Pos1_G*
